/*Hare un diseno responsive para el consumo de la API*/
@media only screen and (min-width : 768px) {
  

.layout {
  background-color: white;
  display: grid;
  grid-template-areas:
    "Header Header Header"
    "Nav Nav Nav"
    "Main Main Main"
    "Footer Footer Footer";
}
.Header {
  grid-area: Header;
  display: flex;
  height: 150px;
  justify-content: center;
  background-color: rgb(161, 204, 209);
  box-shadow: 0 0 25px #222;
  backdrop-filter: blur(5px);
}
.Header img {
  align-self: center;
  align-content: center;
  width: 200px;
  height: 200px;
}
.Main {
  grid-area: Main;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(215, 187, 245);
  height: 400px;
}
.SelectorPerro {
  display: flex;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border-radius: 0;
  background: #f0f0f0;
  font-size: 1em;
  color: #999;
  font-family: "Quicksand", sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;

  transition: all 0.25s ease;
}
.card{
  display: flex;
  flex-direction: column;

}
.card div{
  align-self: center;
  
}
.card img{
  width: 300x;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  transition: all 400ms ease;
}

.Footer {
  grid-area: Footer;
  height: 100px;
  background-color: rgb(160, 118, 249);
  box-shadow: 0 0 25px #222;
  backdrop-filter: blur(5px);
}
.Footer p{
  color:white;
  text-align: center;
  align-items: center;
  
}
.Nav{
  grid-area: Nav;
  height: 50px;
  text-align: center;
  background-color:rgb(160, 118, 249);

}
.Nav p{
  color:white;

}
}
@media only screen and (max-width : 767px) {
  * {
    font-size: 2.5vw;
  }
  .layout {
    background-color: white;
    display: grid;
    grid-template-areas:
      "Header"
      "Nav"
      "Main"
      "Footer";
      width: 100%;
  }
  .Header {
    grid-area: Header;
    display: flex;
    height: auto;
    justify-content: center;
    background-color: rgb(161, 204, 209);
    box-shadow: 0 0 25px #222;
    backdrop-filter: blur(5px);
  }
  .Header img {
    align-self: center;
    align-content: center;
    width: 200px;
    height: 200px;
  }
  .Main {
    grid-area: Main;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(215, 187, 245);
    height: 400px;
  }
  .SelectorPerro {
    display: flex;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0;
    border-radius: 0;
    background: #f0f0f0;
    font-size: 1em;
    color: #999;
    font-family: "Quicksand", sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
  
    transition: all 0.25s ease;
  }
  .card{
    display: flex;
    flex-direction: column;
  
  }
  .card div{
    align-self: center;
    
  }
  .card img{
    width: 250px;
    object-fit: cover;
    transition: all 400ms ease;
  }
  
  .Footer {
    grid-area: Footer;
    height: auto;
    background-color: rgb(160, 118, 249);
    box-shadow: 0 0 25px #222;
    backdrop-filter: blur(5px);
  }
  .Footer p{
    color:white;
    text-align: center;
    align-items: center;
    
  }
  .Nav{
    grid-area: Nav;
    height: 50px;
    text-align: center;
    background-color:rgb(160, 118, 249);
  
  }
  .Nav p{
    color:white;
  
  }
  
}